/*mi clase*/
.miclase{
  background-color:red;
  color: cyan;
  font-size: 30pt;
}

#semilink{
  color: blue;
  cursor: pointer;
}


table, td{
  border: 1px solid black;
}

#perfil{
  display: none;
}
/*mi id*/
#miid{
  background-color: green;
  color: #CACACA;
  font-size: 10pt;
}

/*conecto con el body*/
body{
  background-color: #DCDCDC;
}

ul{
  list-style-type: none;
}